$font-xl: 48px;
$font-l: 28px;
$font-m: 17px;
$font-s: 14px;
$blue: #0071e3;
$dark-gray: #1e1e1e;
$spacing-normal: 30px;

.george {
  width: 100%;
  display: flex;
  color: white;
  line-height: 1.5;
  padding-top: 60px;

  @media screen and (max-width: 500px) {
    flex-direction: column;
  }

  &__info {
    text-align: center;
    padding: 75px 0;
  }

  &__name,
  &__job,
  &__copy {
    padding-bottom: $spacing-normal;
  }

  &__name {
    font-size: $font-xl;
    font-weight: bold;
  }

  &__job {
    font-size: $font-l;
    font-weight: bold;
  }

  &__copy {
    font-size: $font-m;
  }

  &__contact {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    font-size: 17px;
    line-height: 1;
    font-weight: 400;
    letter-spacing: -0.022em;
    min-width: 28px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 7px;
    padding-bottom: 8px;
    border-radius: 18px;
    background: #0071e3;
    color: #fff;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__links {
    padding-top: $spacing-normal;
    display: flex;
    justify-content: center;

    li {
      display: flex;
      color: $blue;
      margin: 0 10px;

      &::after {
        display: block;
        padding-left: 3px;
      }
    }
  }

  &__link {
    display: flex;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__iphoneImage {
    width: 100%;
  }
}

ul {
  margin: 0;
  list-style: none;
  padding-left: 0px;
}

.col-50 {
  width: 50%;
  @media screen and (max-width: 500px) {
    width: 100%;
  }
}

a {
  color: $blue;
}

h1,
h2,
p {
  margin: 0px;
}

p {
  line-height: 1.5;
}

// .App {
//   text-align: center;
// }

// .App-logo {
//   height: 40vmin;
//   pointer-events: none;
// }

// @media (prefers-reduced-motion: no-preference) {
//   .App-logo {
//     animation: App-logo-spin infinite 20s linear;
//   }
// }

// .App-header {
//   background-color: #282c34;
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   font-size: calc(10px + 2vmin);
//   color: white;
// }

// .App-link {
//   color: #61dafb;
// }

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }
